.places {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
section.places h1 {
	text-align: left;
	display: block;
	flex-grow: 2;
	width: 100%;
	font-size: 30px;
	margin-left: 1em;
}

section.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px #FF5A5F solid;
	border-radius: 4px;
}
section.places article h2 {
	font-size: 30px;
	text-align: center;
	margin-top: 0.175em;
}
